## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = list(set(random.sample(range(100), k = 80)))
print(sample_list_1)

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 33, 34, 35, 37, 38, 39, 40, 42, 43, 44, 45, 47, 50, 51, 52, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 74, 75, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 96, 97, 99]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = list(random.sample(range(100), k=80))
print(sample_list_2)

[4, 84, 90, 16, 26, 15, 13, 81, 45, 32, 82, 93, 91, 65, 20, 24, 54, 57, 42, 43, 77, 30, 17, 71, 61, 69, 55, 19, 50, 70, 9, 87, 34, 58, 39, 51, 12, 73, 44, 18, 74, 37, 22, 27, 95, 72, 49, 53, 76, 46, 78, 67, 14, 88, 21, 83, 7, 59, 25, 86, 29, 38, 41, 68, 11, 47, 10, 98, 8, 2, 0, 36, 63, 6, 23, 99, 94, 31, 62, 5]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
len(set2)

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1 - set2
print(set3)

{64, 33, 96, 3, 35, 97, 40, 75, 60, 79, 80, 92, 52, 85, 89, 28}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2 - set1
print(set4)

{32, 65, 98, 36, 41, 73, 11, 12, 76, 46, 49, 82, 55, 94, 30, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)
print("Set 1 and Set 2 share", len(set5), "numbers")

{0, 2, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 34, 37, 38, 39, 42, 43, 44, 45, 47, 50, 51, 53, 54, 57, 58, 59, 61, 62, 63, 67, 68, 69, 70, 71, 72, 74, 77, 78, 81, 83, 84, 86, 87, 88, 90, 91, 93, 99}
Set 1 and Set 2 share 64 numbers

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print(len(set1) == 80)
print(len(set2) == 80 )
print(len(set3) == len(set1 - set2))
print(len(set4) == len(set2 - set1))
print(len(set5) == len(set1.intersection(set2)))

True
True
True
True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set5)
set6.update(set3)
print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 33, 34, 35, 37, 38, 39, 40, 42, 43, 44, 45, 47, 50, 51, 52, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 74, 75, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
if set1 == set6 : 
    print(True)
else: 
    print(False)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
if set2.issubset(set1) == True : 
    print("Set 1 contains Set2")
else: 
    print("Set1 does not contain Set2")
    
if set3.issubset(set1) == True:
    print('Set1 contains Set3')
else:
    print("Set1 does not contain Set3")

Set1 does not contain Set2
Set1 contains Set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
sets_3_4_5_union = set3.union(set4).union(set5)
sets_1_2_aggregated = set1.union(set2)

if sets_3_4_5_union == sets_1_2_aggregated : 
    print("Aggregated values of set 1 and set 2 are equal to union of set 3,4, and 5.")
else:
    print("Aggregated values of set 1 and set 2 are NOT equal to union of set 3,4, and 5.")

Aggregated values of set 1 and set 2 are equal to union of set 3,4, and 5.

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
list_set_1 = list(set1)
print("Old:", list_set_1)
list_set_1.pop(0)
print("New:", list_set_1)
set1= set(list_set_1)
print("Set 1 is now:", set1, "and has a lenght of:", len(set1))

Old: [0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 33, 34, 35, 37, 38, 39, 40, 42, 43, 44, 45, 47, 50, 51, 52, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 74, 75, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 96, 97, 99]
New: [2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 33, 34, 35, 37, 38, 39, 40, 42, 43, 44, 45, 47, 50, 51, 52, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 74, 75, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 96, 97, 99]
Set 1 is now: {2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 33, 34, 35, 37, 38, 39, 40, 42, 43, 44, 45, 47, 50, 51, 52, 53, 54, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 74, 75, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 96, 97, 99} and has a lenght of: 79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for x in list_to_remove: 
    if x in set1 : 
        set1.remove(x)
        
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 33, 34, 35, 37, 38, 40, 42, 43, 44, 45, 47, 50, 52, 53, 54, 57, 58, 60, 62, 63, 64, 67, 68, 70, 72, 74, 75, 77, 78, 80, 83, 84, 85, 86, 87, 88, 90, 92, 93, 96, 97}

In [17]:
len(set1)

63